<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishUrl>bin\Release\net10.0\publish\appservice\</PublishUrl>
  </PropertyGroup>
</Project>
